:root {
    --bg-light: hsl(220, 42.86%, 97.25%);
    --text: hsl(230.85, 41.84%, 27.65%);
    --card-border: hsl(231.43, 41.18%, 90%);
    --selected-highlight: hsl(230.32, 60.78%, 90%);
    --correct-highlight: hsl(132.54, 45.58%, 71.18%);
    --wrong-highlight: hsl(0, 81.08%, 85.49%);
    --btn-bg: hsl(229.63, 34.47%, 46.08%);

    --main-font: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    font-family: var(--main-font);
    background: var(--bg-light);
    text-rendering: optimizeLegibility;
}

.app-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    cursor: default;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0 1.25rem; /* 0 20px */
}

.btn {
    background: var(--btn-bg);
    color: var(--bg-light);
    font-family: var(--main-font);
    font-size: .75rem; /* 12px */
    padding: .688rem 1.375rem; /* 11px 22px */
    border: none;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}

/* <-- LANDING --> */

.landing-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-cont h1 {
    margin: 0;
}

.landing-cont h2 {
    font-weight: 400;
    margin: .625rem 0 1.875rem; /* 10px 0 30px */
    font-size: 1rem; /* 16px */
}

.landing-cont button {
    font-size: 1rem; /* 16px */
}

/* <-- QUIZ --> */

.app-cont form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-cont {
    border-bottom: 1px solid var(--card-border);
    padding: 1rem 0; /* 16px 0 */ 
    width: 100%;
}

.question {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 1rem; /* 16px */
    line-height: 1.15;
    margin: 0 0 .75rem; /* 0 0 12px */
}

.options-cont {
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    gap: .375rem .75rem; /* 6px 12px */
}

.answer-label {
    font-size: .75rem; /* 12px */
    padding: .25rem .5rem; /* 4px 8px */
    box-sizing: border-box;
    border: 1px solid var(--btn-bg);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1;
    transition: all 225ms ease-in-out;
}

.answer-input {
    appearance: none;
    margin: 0;
}

.selected {
    background-color: var(--selected-highlight);
    border: 1px solid var(--selected-highlight);
}

.correct {
    background-color: var(--correct-highlight);
    border: 1px solid var(--correct-highlight);
}

.wrong {
    background-color: var(--wrong-highlight);
    border: 1px solid var(--wrong-highlight);
}

.wrong,
.unselected {
    opacity: 0.5;
}

.result-check-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem; /* 10px */
    margin: 1.25rem 0 .625rem; /* 20px 0 10px */
}

.result-check-cont > h1 {
    margin: 0;
    font-size: 1.25rem; /* 20px */
}

.unfinished-text {
    max-width: 250px;
}

.replay-text {
    max-width: 230px;
}

.replay-btn {
    padding: .688rem 1rem; /* 11px 16px */
}

/* <-- BACKGROUND --> */

.bg-cont img {
    position: absolute;
    z-index: -1;
}

#blob-yellow {
    right: 0;
    top: 0;
}

#blob-blue {
    left: 0;
    bottom: 0;
}

/* <-- QUERIES --> */

@media only screen and (min-width: 480px) {
    .btn,
    .answer-label {
        font-size: .875rem; /* 14px */
    }

    .landing-cont h1 {
        font-size: 3rem; /* 48px */
    }

    .landing-cont h2,
    .question {
        font-size: 1.5rem; /* 24px */
    }

    .result-check-cont {
        gap: 1.25rem; /* 20px */
    }

    .replay-text {
        white-space: nowrap;
        max-width: fit-content;
    }

    .replay-btn {
        padding: .688rem 1.375rem; /* 11px 22px */
    }
}

@media only screen and (min-width: 768px) {
    .btn {
        font-size: 1.25rem; /* 20px */
    }

    .app-cont form {
        width: 700px;
    }

    .landing-cont h1 {
        font-size: 3.5rem; /* 56px */
    }

    .landing-cont h2 {
        margin: .875rem 0 2.25rem; /* 14px 0 36px */
    }

    .landing-cont h2,
    .question {
        font-size: 1.625rem; /* 26px */
    }

    .answer-label {
        padding: .25rem 1.125rem; /* 4px 18px */
        border-radius: 10px;
        font-size: 1.125rem; /* 18px */
        line-height: normal;
    }

    .unfinished-text {
        white-space: nowrap;
        max-width: fit-content;
    }

    .result-check-cont > h1 {
        font-size: 1.5rem; /* 24px */
    }
}